.container {
  height: auto;
  width: 100%;
  border: 5px solid #010c3f;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
.container span {
  text-align: center;
  font-style: italic;
}
.headerDiv {
  border-bottom: 0px solid #010c3f;
  width: 100%;
}
.header {
  padding: 5px;
  font-weight: 500;
}

.student {
  padding: 3px;
  font-size: 1.5rem;
}
